GROQ_API_KEY=gsk_your_key_here
MONGO_URI=mongodb://user:pass@cluster0-shard-00-00.ppi7t.mongodb.net:27017,cluster0-shard-00-01.ppi7t.mongodb.net:27017,cluster0-shard-00-02.ppi7t.mongodb.net:27017/?ssl=true&replicaSet=atlas-88zybx-shard-0&authSource=admin&appName=Cluster0
MONGO_DB_NAME=eduguard_dbt
