bcrypt
cloudinary
fastapi
groq
numpy
opencv-contrib-python-headless
pydantic
pymongo[srv]
python-dateutil
python-dotenv
python-jose[cryptography]
requests
thefuzz
python-Levenshtein
uvicorn[standard]
